:root {
}

.panel {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 24px;
}

.options-container {
    background-color: rgba(97, 97, 115, 0.38);
    border-color: rgb(150, 179, 202);
    border-width: 1px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: none;
}

.options-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 20px;
}

.options-buttons-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.options-credits-container {
    /* color: rgb(154, 154, 154); */
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.options-credits-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.options-credit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stage-button {
    margin: 0 0 5px 0;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(188, 188, 188, 0.2);
}

.stage-button:hover {
    background-color: rgba(188, 188, 188, 0.4);
}

.main-container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.title-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 50px;
    white-space: nowrap;
    margin-bottom: 100px; 
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.menu-button {
    width: 100%;
    height: 40px;
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 0;
    -unity-text-align: middle-right;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(188, 188, 188, 0);
}

.quit-button {
    color: rgb(154, 154, 154);
}

.menu-button:hover {
    color: rgb(188, 188, 188);
}

.menu-button:active {
    color: rgb(231, 231, 231);
}

.open {
    display: flex;
}
